src/main/resources/BS_FindDocuments_4/xsd/Archiving_Document_Document_FindDocuments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 (http://www.altova.com) by Altova XMLSpy 2016 Professional Edition - Release 2, Installed for 50 users (Nationale Nederlanden) -->
<!--#################################### version history #######################################	-->
<!--Version   Editor      Comment                                                                                                                      -->
<!--v1.4 		JJvR		start version for demo version 											-->
<!--#################################### version history #######################################	-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://nn.nl/XSD/Archiving/Document/2/FindDocuments/4"
	 xmlns:cmh="http://nn.nl/XSD/Generic/MessageHeader/2"
	 targetNamespace="http://nn.nl/XSD/Archiving/Document/2/FindDocuments/4"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
<!--# fix for local errors added schemalocation for messageheader #	-->	 
	<xsd:import namespace="http://nn.nl/XSD/Generic/MessageHeader/2" schemaLocation="../../xsd/common/CommonMessageHeader_2.xsd"/>
	<xsd:element name="FindDocuments_Request">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ArchiveType" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="20"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="RequestUserId">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:minLength value="1"/>
							<xsd:maxLength value="20"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="IncludeMedicalDocuments" type="xsd:boolean" minOccurs="0"/>
				<xsd:element name="IncludeSpecialCasesDocuments" type="xsd:boolean" minOccurs="0"/>
				<xsd:element name="CMISSearch" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="255"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="DocumentClass" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="100"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Paging" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="MaxItems" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:integer">
										<xsd:minExclusive value="1"/>
										<xsd:maxInclusive value="100"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SkipCount" type="xsd:integer" minOccurs="0"/>
							<xsd:element name="SortAttribute" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="AddressedTo"/>
										<xsd:enumeration value="ArrivedAt"/>
										<xsd:enumeration value="ArrivedBy"/>
										<xsd:enumeration value="AuthorizedTo"/>
										<xsd:enumeration value="BirthDt"/>
										<xsd:enumeration value="ClaimNumber"/>
										<xsd:enumeration value="ContentRetentionDate"/>
										<xsd:enumeration value="Contract_Nr"/>
										<xsd:enumeration value="Contract_NrAccount"/>
										<xsd:enumeration value="Contract_NrDeposit"/>
										<xsd:enumeration value="Contract_NrLoan"/>
										<xsd:enumeration value="Contract_NrPolicy"/>
										<xsd:enumeration value="Contract_NrQuotation"/>
										<xsd:enumeration value="ConversionDate"/>
										<xsd:enumeration value="ConversionOrigin"/>
										<xsd:enumeration value="CreatedAt"/>
										<xsd:enumeration value="CreatedBy"/>
										<xsd:enumeration value="DateContentLastAccessed"/>
										<xsd:enumeration value="DescriptionProductGroup"/>
										<xsd:enumeration value="DocumentDetail"/>
										<xsd:enumeration value="DocumentID"/>
										<xsd:enumeration value="DocumentRelationID"/>
										<xsd:enumeration value="DocumentRouting"/>
										<xsd:enumeration value="DocumentTitle"/>
										<xsd:enumeration value="DocumentType"/>
										<xsd:enumeration value="ExternalEventTriggerDate"/>
										<xsd:enumeration value="FileName"/>
										<xsd:enumeration value="FileSize"/>
										<xsd:enumeration value="FileToolVersion"/>
										<xsd:enumeration value="IBAN"/>
										<xsd:enumeration value="ID"/>
										<xsd:enumeration value="IDNumberFactory"/>
										<xsd:enumeration value="IDNumberPersonal"/>
										<xsd:enumeration value="Label"/>
										<xsd:enumeration value="Language"/>
										<xsd:enumeration value="MimeType"/>
										<xsd:enumeration value="ModifiedAt"/>
										<xsd:enumeration value="ModifiedBy"/>
										<xsd:enumeration value="Name_LastInsured"/>
										<xsd:enumeration value="Name_LastPolicyHolder"/>
										<xsd:enumeration value="Name_Org"/>
										<xsd:enumeration value="PartnerGold"/>
										<xsd:enumeration value="PartnerSilver"/>
										<xsd:enumeration value="ProcessID"/>
										<xsd:enumeration value="ProductCode"/>
										<xsd:enumeration value="ReferenceDate"/>
										<xsd:enumeration value="RequestNumber"/>
										<xsd:enumeration value="RetentionTrigger"/>
										<xsd:enumeration value="RequiredbylawID"/>
										<xsd:enumeration value="Source"/>
										<xsd:enumeration value="SourceTransactionID"/>
										<xsd:enumeration value="Subject"/>
										<xsd:enumeration value="Year"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SortOrder" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Ascending"/>
										<xsd:enumeration value="Descending"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SearchRanges" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ArrivedAtBegin" type="xsd:date" minOccurs="0"/>
							<xsd:element name="ArrivedAtEnd" type="xsd:date" minOccurs="0"/>
							<xsd:element name="ConversionDateBegin" type="xsd:date" minOccurs="0"/>
							<xsd:element name="ConversionDateEnd" type="xsd:date" minOccurs="0"/>
							<xsd:element name="CreatedAtBegin" type="xsd:date" minOccurs="0"/>
							<xsd:element name="CreatedAtEnd" type="xsd:date" minOccurs="0"/>
							<xsd:element name="DateContentLastAccessedBegin" type="xsd:date" minOccurs="0"/>
							<xsd:element name="DateContentLastAccessedEnd" type="xsd:date" minOccurs="0"/>
							<xsd:element name="ExternalEventTriggerDateBegin" type="xsd:date" minOccurs="0"/>
							<xsd:element name="ExternalEventTriggerDateEnd" type="xsd:date" minOccurs="0"/>
							<xsd:element name="ModifiedAtBegin" type="xsd:date" minOccurs="0"/>
							<xsd:element name="ModifiedAtEnd" type="xsd:date" minOccurs="0"/>
							<xsd:element name="ReferenceDateBegin" type="xsd:date" minOccurs="0"/>
							<xsd:element name="ReferenceDateEnd" type="xsd:date" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SearchAttributes" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AddressedTo" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="40"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ArrivedBy" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="AuthorizedTo" minOccurs="0" maxOccurs="unbounded">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="10"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="BirthDt" type="xsd:date" minOccurs="0"/>
							<xsd:element name="ClaimNumber" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Contract_Nr" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Contract_NrAccount" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Contract_NrDeposit" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Contract_NrLoan" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Contract_NrPolicy" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Contract_NrQuotation" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ConversionOrigin" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="CreatedBy" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DescriptionProductGroup" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="40"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DocumentDetail" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="40"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DocumentID" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="40"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DocumentRelationID" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="40"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DocumentRouting" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="In"/>
										<xsd:enumeration value="Out"/>
										<xsd:enumeration value="Internal"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DocumentTitle" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="512"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DocumentType" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="50"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="FileName" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="255"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IBAN" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="34"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ID" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="40"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IDNumberFactory" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="60"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="IDNumberPersonal" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="60"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Label" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Language" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ModifedBy" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Name_LastInsured" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="40"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Name_LastPolicyHolder" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="40"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Name_Org" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="40"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="PartnerGold" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="10"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="PartnerIntermediary" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="10"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="PartnerSilver" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="10"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ProcessID" type="xsd:string" minOccurs="0"/>
							<xsd:element name="ProductCode" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="5"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RequestNumber" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="255"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RequiredbylawID" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="255"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RetentionTrigger" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Source" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SourceTransactionID" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="40"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Subject" type="xsd:string" minOccurs="0"/>
							<xsd:element name="Year" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="4"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FindDocuments_Response">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Paging" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="FoundItemCount" type="xsd:integer" minOccurs="0"/>
							<xsd:element name="HasMoreItems" type="xsd:boolean" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SearchResult" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DocumentClass" type="xsd:string"/>
							<xsd:element name="MetaData">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="AddressedTo" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ArrivedAt" type="xsd:dateTime" minOccurs="0"/>
										<xsd:element name="ArrivedBy" type="xsd:string" minOccurs="0"/>
										<xsd:element name="AuthorizedTo" type="xsd:string" minOccurs="0" maxOccurs="10"/>
										<xsd:element name="BirthDt" type="xsd:date" minOccurs="0"/>
										<xsd:element name="ClaimNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ContentRetentionDate" type="xsd:date" minOccurs="0"/>
										<xsd:element name="Contract_Nr" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Contract_NrAccount" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Contract_NrDeposit" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Contract_NrLoan" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Contract_NrPolicy" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Contract_NrQuotation" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ConversionDate" type="xsd:dateTime" minOccurs="0"/>
										<xsd:element name="ConversionOrigin" type="xsd:string" minOccurs="0"/>
										<xsd:element name="CreatedAt" type="xsd:dateTime" minOccurs="0"/>
										<xsd:element name="CreatedBy" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DateContentLastAccessed" type="xsd:dateTime" minOccurs="0"/>
										<xsd:element name="DescriptionProductGroup" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DocumentDetail" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DocumentID" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DocumentRelationID" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DocumentRouting" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DocumentTitle" type="xsd:string" minOccurs="0"/>
										<xsd:element name="DocumentType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ExternalEventTriggerDate" type="xsd:date" minOccurs="0"/>
										<xsd:element name="FileName" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FileSize" type="xsd:string" minOccurs="0"/>
										<xsd:element name="FileToolVersion" type="xsd:string" minOccurs="0"/>
										<xsd:element name="IBAN" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ID" type="xsd:string"/>
										<xsd:element name="IDNumberFactory" type="xsd:string" minOccurs="0"/>
										<xsd:element name="IDNumberPersonal" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Label" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Language" type="xsd:string" minOccurs="0"/>
										<xsd:element name="MimeType" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ModifiedAt" type="xsd:dateTime" minOccurs="0"/>
										<xsd:element name="ModifiedBy" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Name_LastInsured" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Name_LastPolicyHolder" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Name_Org" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PartnerGold" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PartnerIntermediary" type="xsd:string" minOccurs="0"/>
										<xsd:element name="PartnerSilver" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProcessID" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ProductCode" type="xsd:string" minOccurs="0"/>
										<xsd:element name="ReferenceDate" type="xsd:date" minOccurs="0"/>
										<xsd:element name="RequestNumber" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RequiredbylawID" type="xsd:string" minOccurs="0"/>
										<xsd:element name="RetentionTrigger" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Source" type="xsd:string" minOccurs="0"/>
										<xsd:element name="SourceTransactionID" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Subject" type="xsd:string" minOccurs="0"/>
										<xsd:element name="Year" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="cmh:Result"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>